Импорт библиотек:

In [149]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

Считывание данных:

In [2]:
df = pd.read_excel('ENB2012_data.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   X1           768 non-null    float64
 1   X2           768 non-null    float64
 2   X3           768 non-null    float64
 3   X4           768 non-null    float64
 4   X5           768 non-null    float64
 5   X6           768 non-null    int64
 6   X7           768 non-null    float64
 7   X8           768 non-null    int64
 8   Y1           768 non-null    float64
 9   Y2           768 non-null    float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
dtypes: float64(10), int64(2)
memory usage: 72.1 KB

Удаление лишних столбцов:

In [4]:
df = df.drop(['Unnamed: 10', 'Unnamed: 11'], axis=1)
df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

Выделение входных и выходных данных:

In [6]:
X_data = df.drop(['Y1', 'Y2'], axis=1)
X_data

       X1     X2     X3      X4   X5  X6   X7  X8
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0
..    ...    ...    ...     ...  ...  ..  ...  ..
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5

[768 rows x 8 columns]

In [8]:
Y_data = df[['Y1', 'Y2']]
Y_data

        Y1     Y2
0    15.55  21.33
1    15.55  21.33
2    15.55  21.33
3    15.55  21.33
4    20.84  28.28
..     ...    ...
763  17.88  21.40
764  16.54  16.88
765  16.44  17.11
766  16.48  16.61
767  16.64  16.03

[768 rows x 2 columns]

Получение тренировочной и тестовой выборок:

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size=0.3)

## Линейная регрессия:

In [154]:
linear_regression_model = LinearRegression()

Обучение для *Y1*:

In [155]:
linear_regression_model.fit(X_train, Y_train['Y1'])

LinearRegression()

In [156]:
Y_pred_1_linear = linear_regression_model.predict(X_test)

*rmse* и *r2*:

In [161]:
rmse_linear_1 = mean_squared_error(Y_test['Y1'], Y_pred_1_linear)
rmse_linear_1

8.23607402219391

In [162]:
r2_linear_1 = r2_score(Y_test['Y1'], Y_pred_1_linear)
r2_linear_1

0.9168910417079882

Обучение для *Y2*:

In [163]:
linear_regression_model.fit(X_train, Y_train['Y2'])

LinearRegression()

In [164]:
Y_pred_2_linear = linear_regression_model.predict(X_test)

*rmse* и *r2*:

In [165]:
rmse_linear_2 = mean_squared_error(Y_test['Y2'], Y_pred_2_linear)
rmse_linear_2

10.11237586584787

In [166]:
r2_linear_2 = r2_score(Y_test['Y2'], Y_pred_2_linear)
r2_linear_2

0.883083106043881

## Регрессия *kernel ridge*:

In [167]:
kernel_ridge_regression_model = KernelRidge()

Обучение для *Y1*:

In [168]:
kernel_ridge_regression_model.fit(X_train, Y_train['Y1'])

KernelRidge()

In [169]:
Y_pred_1_kernel_ridge = kernel_ridge_regression_model.predict(X_test)

*rmse* и *r2*:

In [171]:
rmse_kernel_ridge_1 = mean_squared_error(Y_test['Y1'], Y_pred_1_kernel_ridge)
rmse_kernel_ridge_1

8.218950580706228

In [172]:
r2_kernel_ridge_1 = r2_score(Y_test['Y1'], Y_pred_1_kernel_ridge)
r2_kernel_ridge_1

0.917063831726701

Обучение для *Y2*:

In [173]:
kernel_ridge_regression_model.fit(X_train, Y_train['Y2'])

KernelRidge()

In [174]:
Y_pred_2_kernel_ridge = kernel_ridge_regression_model.predict(X_test)

*rmse* и *r2*:

In [175]:
rmse_kernel_ridge_2 = mean_squared_error(Y_test['Y2'], Y_pred_2_kernel_ridge)
rmse_kernel_ridge_2

10.160942834016703

In [176]:
r2_kernel_ridge_2 = r2_score(Y_test['Y2'], Y_pred_2_kernel_ridge)
r2_kernel_ridge_2

0.8825215862643064

## Регрессия с усилением градиента:

In [177]:
gb_regression_model = GradientBoostingRegressor()

Обучение для *Y1*:

In [178]:
gb_regression_model.fit(X_train, Y_train['Y1'])

GradientBoostingRegressor()

In [179]:
Y_pred_1_gb = gb_regression_model.predict(X_test)

*rmse* и *r2*:

In [180]:
rmse_gb_1 = mean_squared_error(Y_test['Y1'], Y_pred_1_gb)
rmse_gb_1

0.2239033791069542

In [181]:
r2_gb_1 = r2_score(Y_test['Y1'], Y_pred_1_gb)
r2_gb_1

0.9977406253822518

Обучение для *Y2*:

In [182]:
gb_regression_model.fit(X_train, Y_train['Y2'])

GradientBoostingRegressor()

In [183]:
Y_pred_2_gb = gb_regression_model.predict(X_test)

*rmse* и *r2*:

In [184]:
rmse_gb_2 = mean_squared_error(Y_test['Y2'], Y_pred_2_gb)
rmse_gb_2

1.8784795463902937

In [185]:
r2_gb_2 = r2_score(Y_test['Y2'], Y_pred_2_gb)
r2_gb_2

0.9782814645304289

## Сравнение результатов

In [192]:
table = pd.DataFrame([[rmse_linear_1, r2_linear_1, rmse_linear_2, r2_linear_2],
                      [rmse_kernel_ridge_1, r2_kernel_ridge_1, rmse_kernel_ridge_2, r2_kernel_ridge_2], 
                      [rmse_gb_1, r2_gb_1, rmse_gb_2, r2_gb_2]],
                     columns=['Y1 rmse', 'Y1 r2', 'Y2 rmse', 'Y2 r2'],
                     index=['Линейная регрессия', 'Kernel ridge', 'Регрессия с усилением градиента'])
table

                                  Y1 rmse     Y1 r2    Y2 rmse     Y2 r2
Линейная регрессия               8.236074  0.916891  10.112376  0.883083
Kernel ridge                     8.218951  0.917064  10.160943  0.882522
Регрессия с усилением градиента  0.223903  0.997741   1.878480  0.978281

Как видно из таблицы, при использовании регрессии с усилением градиента достигаются наилучшие показатели метрик *rmse* и *r2*.